<!-- Name : Meenakshi Sundaram R
    Date : 25-06-2021
    Desc : Pagination Component -->
<!-- Pagination Starts -->
<div class="row">
    <div class="col-sm-4 cls-showcount">
        <!-- Show from & to data -->
        Showing {{showFrom}} to {{showTo}} of {{totalRecords}} Entries
    </div>
    <!-- <div class="cls-pagination"> -->
    <div class="col-sm-6">
        <!-- Pagination -->
        <ul class="pagination" *ngIf="pages != 1">
            <li class="cls-pagination-item cls-prev" [ngClass]="selectedPage <= 1 ? 'disabled' : ''" (click)="moveToPage(selectedPage - 1)">
                <a href="javascript:;" class="page-link">Previous</a></li>
            <ng-container *ngFor="let item of items;let first=first;let last=last">
                <li class="cls-pagination-item" [ngClass]="{'active':selectedPage == item,'cls-first':first,'cls-last':last}" (click)="moveToPage(item)">
                    <a href="javascript:;" class="page-link" title="{{item}}">{{item}}</a></li>
            </ng-container>
            <li class="cls-pagination-item cls-next" [ngClass]="selectedPage >= pages ? 'disabled' : ''" (click)="moveToPage(selectedPage + 1)">
                <a href="javascript:;" class="page-link">Next</a></li>
        </ul>
        <!-- Pagination -->
    </div>
</div>
<!-- </div> -->
<!-- Pagination Ends -->