/* Desc : Advance Request index
** Author : Naveen.s
** Date : 13-Augest-2020 
** Powered by:  Infiniti software solutions
*/
@import './../../../../assets/scss/variable.scss';
.cls-main-container{
    background:$MAINBG;
    margin: -50px -30px 0 -30px;
    padding:20px 20px 20px 35px;
    min-height: 600px;
    em{
        color:$PRIMARYCOLOR;
      }
    .cls-main-title{
        font: 20px "ProximaSemiBold";
        margin: 15px 0;
        display: inline-block;
    }
}
@media only screen and (max-width: 480px) {
    .cls-main-container{
        padding: 0px;
        margin: 0px -30px -55px -30px;
        .cls-mbl-breadcrumb,.cls-main-title{
            display: none;
        }
    }
}
@media (min-width: 481px) and (max-width: 766px){
    .cls-main-container{
        padding: 0px;
        margin: 0px -30px -55px -30px;
        .cls-mbl-breadcrumb,.cls-main-title{
            display: none;
        }
    }
}
@media (min-width: 767px) and (max-width: 1024px){
    .cls-mbl-add{
        display:none;
    }
}