<!-- Desc : finance Details
Author :naveen.s
Date : 05-jan-2021 -->
<div class="cls-Approval-bar">
    <span class="cls-head-title">{{'Finance Approval Details' | translate}}</span>
    <form [formGroup]="financeForm">
        <div class="row mb-2">
            <div  class="form-group cls-search-select dropdown col-sm-4" [ngClass]="{'cls-noneditable' : empDetResponse?.update === false || profileType.type === 'myprofile'}">
                <!-- <label  for="finance">{{'Approver Level' | translate}} 1 <span class="mandatory">*</span></label>
                <select class="cls-select form-control "  placeholder="All" multiple="multiple" id="finance0">
                    <option *ngFor="let data of dropdownArray?.financeApprover" value="{{data.email}}">{{data.email}}</option>
                </select> -->
                <label for="finance">{{'Approver Level' | translate}} 1 <span class="mandatory">*</span></label>
                <div class="cls-dropdown-container">
                    <em class="icon-3-dropdownarrow"></em>
                    <input class="form-control" type="text"  formControlName="finance"
                    name="finance" id="finance" data-toggle="dropdown" [ngClass]="{'cls-border-error':(submitted && validation.finance.errors)}" (click)="searchDropdown('fn-finance-input')" placeholder="{{'Select Email' | translate}}"
                    autocomplete="off" readonly>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <input type="text" class="cls-dropdown-input" placeholder="{{'Search' | translate}}.." 
                        id="fn-finance-input" autocomplete="off" (keyup)="filterFunction('fn-finance-input','fn-finance-ul')">
                        <ul id="fn-finance-ul" class="live-search-list">
                            <li (click)="setFilterValue('finance','select')">
                                <a>select</a>
                            </li>
                            <li *ngFor="let data of dropdownArray?.financeApprover" id="{{data.id}}" (click)="setFilterValue('finance',data.email)">
                                <a>{{data.email | translate}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-3">
            <div [ngClass]="{'d-none' : empDetResponse?.update === false || profileType.type === 'myprofile'}">
                <button class="btn  cls-custom-btn cls-btn-secondary" type="button" (click)="backtoList()"><span>{{'Cancel' | translate}}</span></button>
                <button class="btn  cls-custom-btn cls-btn-primary" type="button" *ngIf="formType === 'new'" (click)="financeApproval('new')">{{'Save' | translate}}</button>
                <button class="btn  cls-custom-btn cls-btn-primary" type="button" *ngIf="formType != 'new'" (click)="financeApproval('update')">{{'Update' | translate}}</button>
            </div>
        </div>
    </form>
</div>