@import '../../auth-module/resetpassword/resetpassword.component.scss';
@import '../../../assets/scss/variable.scss';
.form-label {
    font-weight: 600;
  }
.cls-refresh{
  color: $PRIMARYCOLOR;
  margin-left: 10px;
}
.cls-right input,.cls-right button{
  width: 100% !important;
}
.cls-captcha{
  align-items: center;
  display: inline-flex
}
.cls-mob-font{
  margin: 17px 0;
  display: block;
  font: 13px "ProximaRegular";
}