<!-- <div class="cls-landingloader">
    <img class="logo" src="../../../assets/images/logo-animation.gif" alt="image">
</div> -->
<!-- [ngClass]="{'cls-delay' : !loader}" -->
<div class="cls-landpage row cls-mobile-landpage">
    <div class="col-sm-7 p-0">
        <div class="cls-left ">
            <div class="cls-center cls-ani-left">
                <h1 class="cls-txt">
                    Make your Expense Management an easy, Transparent and a happy process
                </h1>
                <div class="row cls-imagebck">
                    <div class="col-sm-6 cls-ani-1">
                        <img src="../../../assets/images/menu/Vault.svg" class="cls-vault" alt="Capture Receipts">
                        Capture Receipts
                    </div>
                    <div class="col-sm-6 cls-ani-1">
                        <img src="../../../assets/images/menu/Expenses.svg" alt="Report Your Expense">
                        Report Your Expense
                    </div>
                    <div class="col-sm-6 cls-ani-2">
                        <em class="icon-19-successfully d-block">

                        </em>
                        <!-- <img src="../../../assets/images/menu/Approvals.svg" alt="Approve in Real Time"> -->
                        Approve in Real Time
                    </div>
                    <div class="col-sm-6 cls-ani-2">
                        <img src="../../../assets/images/menu/Settlements.svg" alt="Settlement by Finance">
                        Settlement by Finance
                    </div>
                    <div class="col-sm-6 cls-ani-3">
                        <img src="../../../assets/images/SaveTime.svg" alt="Save Time & Money" class="cls-save">
                        Save Time & Money
                    </div>
                    <div class="col-sm-6 cls-ani-3">
                        <img src="../../../assets/images/Great-user.svg" alt="Great User Experience">
                        Great User Experience
                    </div>
                </div>
            </div>
            <!-- <span class="cls-skew"></span> -->
        </div>
    </div>
    <div class="col-sm-5 cls-right cls-ani-right">
        <div class="cls-center">
            <div class="cls-bg">
                <div id="logo">
                    <span class="cls-logo"></span>
                    <!-- <img class="logo-light" src="../../../assets/images/expenseout_logo.svg" alt="image"> -->
                    <h2 class="cls-hello">
                        Forget Password
                    </h2>
                </div>
                <form class="row" [formGroup]="forgetForm">
                    <div class="cls-reset row mx-0 ">
                        <div class="col-sm-12">
                            <label class="form-label">Email</label>
                            <input type="text" formControlName="emailId" name="email" onpaste="return false" id="email" placeholder="{{'Enter Email' | translate}}" autocomplete="off"
                                class="cls-custom-input form-control"  [ngClass]="{ 'cls-border-error': submitted && forgetForm.controls.emailId.invalid}">
                        </div>
                        <div class="col-sm-6 pr-0 cls-captcha">
                            <img [src]="captchaPath" class="captchaimage" alt="refresh captcha" />
                            <a href="javascript:;" title="refresh captcha" (click)="refreshcapcha()">
                                <em class="icon-61-refresh cls-refresh">
                                </em>
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">Captcha</label>
                            <input type="text" formControlName="captcha" [ngClass]="{ 'cls-border-error': submitted && forgetForm.controls.captcha.invalid}" name="captcha" onpaste="return false" id="captcha" placeholder="{{'Enter Captcha' | translate}}" autocomplete="off"
                                class="cls-custom-input form-control">
                        </div>
                        <div class="col-sm-12">
                            <button class="btn  cls-btn-login cls-login-btn" type="button" (click)="resetLink()"
                            aria-label="Click here to send link to reset password">Generate Mail</button>
                            <span class="cls-mob-font">Click here, 
                                 <a href="javascript:;" routerLink="/66a36e77fd002579809717841f998f4d21cd5913/2736fab291f04e69b62d490c3c09361f5b82461a" title="Back To Login" class="text-primary"> Back To Sign In</a>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>