<!-- Author : Padma Priya CK-->
<!-- compoenent : reset password -->
<div class="cls-landpage row cls-mobile-landpage">
    <div class="col-sm-7 p-0">
        <div class="cls-left">
            <div class="cls-center cls-ani-left">
                <span class="cls-txt">
                    Make your Expense Management an easy, Transparent and a happy process
                </span>
                <div class="row cls-imagebck">
                    <div class="col-sm-6 cls-ani-1">
                        <img src="../../../assets/images/menu/Vault.svg" class="cls-vault" alt="Capture Receipts">
                        <span class="cls-left-text">Capture Receipts</span>
                    </div>
                    <div class="col-sm-6 cls-ani-1">
                        <img src="../../../assets/images/menu/Expenses.svg" alt="Report Your Expense">
                        <span class="cls-left-text">Report Your Expense</span>
                    </div>
                    <div class="col-sm-6 cls-ani-2">
                        <em class="icon-19-successfully d-block"></em>
                        <span class="cls-left-text">Approve in Real Time</span>
                    </div>
                    <div class="col-sm-6 cls-ani-2">
                        <img src="../../../assets/images/menu/Settlements.svg" alt="Settlement by Finance">
                        <span class="cls-left-text">Settlement by Finance</span>
                    </div>
                    <div class="col-sm-6 cls-ani-3">
                        <img src="../../../assets/images/SaveTime.svg" alt="Save Time & Money" class="cls-save">
                        <span class="cls-left-text">Save Time & Money</span>
                    </div>
                    <div class="col-sm-6 cls-ani-3">
                        <img src="../../../assets/images/Great-user.svg" alt="Great User Experience">
                        <span class="cls-left-text">Great User Experience</span>
                    </div>
                </div>
            </div>
            <span class="cls-skew"></span>
        </div>
    </div>
    <div class="col-sm-5 cls-right cls-ani-right">
        <div class="cls-center">
            <div class="cls-bg">
                <div id="logo">
                    <span class="cls-logo"></span>
                    <span class="cls-hello">
                        {{buttonName}} Password
                    </span>
                </div>
                <form  [formGroup]="resetForm">
                    <div class="row">
                        <div  class="form-group col-sm-12">
                            <label  for="newPassword">{{'New Password'}} <span class="cls-mandatory">*</span></label>
                            <input  type="password" id="newPassword" name="newPassword" (keyup)="confirmPass()" (keyup)="passwordStrength()" formControlName="newPassword" placeholder="{{'Enter New Password'}}" autocomplete="off" class="cls-custom-input form-control"
                            [ngClass]="{'cls-border-error': submitted && formValidation?.newPassword?.status === 'INVALID'}">
                        </div>
                        <div  class="form-group col-sm-12 mb-5" *ngIf="resetForm.controls.newPassword.value !== ''">
                            <span class="cls-status-bar">
                                <span class="cls-status {{className}}"></span>
                                <span class="cls-status-text" *ngIf="className === 'error'">{{'Weak Password' | translate}}</span>
                                <span class="cls-status-text" *ngIf="className === 'warning'">{{ 'Medium Password'  | translate}}</span>
                                <span class="cls-status-text" *ngIf="className === 'success'">{{'Strong Password' | translate}}</span>
                            </span>
                        </div>
                        <div  class="form-group col-sm-12">
                            <label  for="confirmPassword">{{'Confirm New Password'}} <span class="cls-mandatory">*</span></label>
                            <input  type="password" [ngClass]="{'cls-border-error' : error}" (keyup)="confirmPass()" formControlName="confirmPassword" id="confirmPassword" name="confirmPassword" placeholder="{{'Enter the same password'}}" autocomplete="off" class="cls-custom-input form-control"
                            [ngClass]="{'cls-border-error': submitted && formValidation?.confirmPassword?.status === 'INVALID'}">
                        </div>
                        <div class="form-group col-sm-12">
                            <button class="btn  cls-custom-btn cls-btn-primary" (click)="resetPassword()" type="button">{{buttonName}}</button>
                            <span class="cls-mob-font" (click)="backToLogin()">Click here, 
                                <a href="javascript:;" title="Back To Login" class="text-primary"> Back To Sign In</a>
                           </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
