@import '../login/login.component.scss';
@import '../../form-module/dynamic-form/button/button.component.scss';
@import '../../myprofile/components/change-password/change-password.component.scss';
/* Desc : Reset component
** Author : Padma Priya
** Created Date  : 29-01-2021
** Powered by:  Infiniti software solutions
*/
.cls-reset{
    width: 100%;
    input{
        font-size: 14px;
        margin-bottom: 20px;
        padding: 16px 12px;
    }
}
button{
    width: 100%;
    display: block;
}
.cls-mob-font{
    font: 13px "ProximaRegular";
  }
@media only screen and (max-width: 480px){
    .cls-right{
        input,button{
            width: 100%;
        }
    } 
}
@media (min-width: 481px) and (max-width: 766px){
    .cls-right{
        input,button{
            width: 100%;
        }
    }
}
@media (min-width: 767px) and (max-width: 1024px){
    .cls-right{
        input,button{
            width: 100%;
        }
    }
}