<form [formGroup]="overrideForm" class="cls-alert-container">
    <!-- background  -->
    <span id="fn-background" class="cls-background"></span>
    <!-- alert-container -->
    <div class="cls-popup" [ngClass]="toClose ? 'close-ani' : ''">
      <span class="dblock d-sm-none cls-mbl-line"></span>
      <span class="d-block d-sm-none cls-selectfilter">
        {{'Override with City Groups' | translate}}
      </span>
      <span class="cls-top-close" title="Click To Close" (click)="closeModal(false)"><em class="icon-32-reject"></em></span>
      <!-- Alert body -->
      <div class="cls-content cls-alert-icon mt-1">
        <span class="text-left white-text cls-header">
          {{'Override with City Groups' | translate}}   
        </span>
        <div class="cls-btns mt-3 mb-5 px-4">
          <ng-container>
            <div class="row">
                <div  class="form-group col-sm-10 text-left">
                    <label class="d-block" for="cityGroup">{{'City Group Name' | translate}}<span class="mandatory">*</span></label>
                    <select class="cls-select form-control "  placeholder="All" multiple="multiple" id="cityGroup">
                        <option *ngFor="let data of dropdownArray" value="{{data?.id}}">{{data?.name}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div  class="form-group col-sm-8 cls-amountmob text-left">
                  <ng-container *ngIf="choosedCriteria.length >= 1">
                    <div class="mb-2" *ngFor="let data of choosedCriteria; let index = index; let last = last;" formGroupName="{{data.name}}"> 
                      <label for="currency">{{data.name}} - {{'Amount Limited' | translate}} <span class="cls-mandatory">*</span></label>
                      <div class="input-group">
                          <span class="input-group-btn cls-currency-bar cls-search-select">
                              <input class="form-control cls-select" type="text"  formControlName="currency" name="currency" id="currency{{index}}"
                              placeholder="{{userCurrency}}" autocomplete="off" readonly >
                          </span>
                          <input  type="number"  formControlName="amount" min ="1" onkeydown="return event.keyCode !== 69" oninput="this.value = Math.abs(this.value)" name="amount" id="amount{{index}}" placeholder="{{'Enter Amount' | translate}}" autocomplete="off" class="cls-custom-input cls-border form-control "
                          [ngClass]="{'cls-error':submitted && validation[data.name]['controls'].amount.errors}">
                      </div>
                    </div>
                  </ng-container>
                    <!-- <label for="currency">{{'Amount Limited' | translate}} <span class="cls-mandatory">*</span></label>
                    <div class="input-group">
                        <span class="input-group-btn cls-currency-bar cls-search-select">
                            <input class="form-control cls-select" type="text"  formControlName="currency" name="currency" id="currency"
                            placeholder="{{userCurrency}}" autocomplete="off" readonly [ngClass]="{'cls-error':overrideForm.controls['currency'].status !== 'VALID' && !submitted}">
                        </span>
                        <input  type="number"  formControlName="amount" min ="1" onkeydown="return event.keyCode !== 69" oninput="this.value = Math.abs(this.value)" name="amount" id="amount" placeholder="{{'Enter Amount' | translate}}" autocomplete="off" class="cls-custom-input cls-border form-control "
                        [ngClass]="{'cls-error':overrideForm.controls['amount'].status !== 'VALID' && !submitted}">
                    </div> -->
                </div>
            </div>
            <div class="mt-3 text-right cls-footer">
              <!-- <ng-container *ngFor="let action of userInput.button; last as last"> -->
                <button type="button" class="btn cls-custom-btn cls-btn-secondary" (click)="closeModal(false)"><span>{{'Cancel' | translate}}</span></button>
                <button type="button" class="btn cls-custom-btn cls-btn-primary"  (click)="closeModal(true)">{{'Save' | translate}}</button>
              <!-- </ng-container> -->
            </div>
          </ng-container>
        </div>
      </div>
    </div>
</form>
