<div class="cls-alert-container">
    <!-- background  -->
    <span id="fn-background" class="cls-background" (click)="closeModal(false)"></span>
    <!-- alert-container -->
    <div class="cls-popup" [ngClass]="toClose ? 'close-ani' : ''">
        <span class="cls-top-close" (click)="closeModal(false)">
        <em class="icon-32-reject"></em>
      </span>
        <!-- Alert body -->
        <div class="cls-content cls-alert-icon mt-1">
            <!-- Button Design -->
            <div class="text-center cls-btns mt-3 mb-5 px-4">
                <ng-container>
                    <!-- <em data-feather="alert-triangle"></em>
            <em data-feather="bell"></em> -->
                    <span class="d-block cls-feathericon" data-feather="alert-triangle"></span>
                    <!-- <button type="button" class="btn cls-custombtn ml-0 text-center waves-effect waves-light mr-3 p-0"> -->
                    <span class=" px-4 white-text text-center py-1 mr-3">
              {{userInput?.title | translate}}
            </span>
                    <ng-container *ngIf="userInput?.reason">
                        <span class="cls-reason">Reason<span class="cls-mandatory">*</span></span>
                        <textarea id="reason" name="reason" rows="3" cols="60" value="Enter Reason" (keyup)="removeError()" placeholder="Enter Reason"></textarea>
                    </ng-container>
                    <!-- </button> -->
                    <div class="mt-3 text-right cls-footer">
                        <ng-container *ngFor="let action of userInput.button; last as last">
                            <button type="button" class="btn cls-custom-btn" [ngClass]="{'cls-btn-primary' : action.status === true,'cls-btn-secondary' : action.status === false, 'mr-0': last}" (click)="closeModal(action.status)"><span>{{action.label}}</span></button>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>