<div class="container">
    <div class="accessibility-header ml-md-auto pr-0">
        <a href="javascript:;" title="Click here for accessibility details">{{'ACCESSIBILITY' | translate}}</a>
        <span class="mr-2">{{'CONTRAST' | translate}}</span>
        <a href="javascript:;" class="contrast-color df " data-rel="default"
            title="Click here to display Website without contrast"><span
                class="default-color">{{'A'| translate}}</span></a>
        <a href="javascript:;" class="contrast-color bw " data-rel="bw"
            title="Click here to display Website with high white contrast"><span
                class="white-contrast">{{'A'| translate}}</span></a>
        <a href="javascript:;" class="contrast-color by " data-rel="by"
            title="Click here to display Website with high black contrast"><span
                class="black-contrast">{{'A'| translate}}</span></a>
        <a href="javascript:;" class="contrast-color yb" data-rel="yb"
            title="Click here to display Website with high yellow contrast"><span
                class="yellow-contrast">{{'A'| translate}}</span></a>
        <span class="mr-2 ml-2">|</span>
        <a href="javascript:;" title="Click here to decrease font size of the website"><span class="min-font">
                {{'A'| translate }}- </span></a>
        <a href="javascript:;" title="Click here to have the default font size of the website"><span
                class="default-font">
                {{'A'| translate}} </span></a>
        <a href="javascript:;" title="Click here to increase font size of the website"><span class="max-font">
                {{'A'| translate}}+ </span></a>
    </div>
 

</div>
