<div class="cls-alert-container" *ngIf="userDetail?.length > 0">
    <!-- background  -->
    <span id="fn-background" class="cls-background" (click)="closeModal(false)"></span>
    <!-- alert-container -->
    <div class="cls-popup" [ngClass]="toClose ? 'close-ani' : ''">
        <span class="cls-top-close" (click)="closeModal(false)">
      <em class="icon-32-reject"></em>
    </span>
        <!-- Alert body -->
        <div class="cls-content cls-alert-icon mt-1">
            <!-- Button Design -->
            <div class="cls-btns mt-3 mb-5 px-4">
                <ng-container *ngIf="userInput['value'] != undefined">
                    <span class="cls-head">
                {{userInput['value']['emailId']}} - User Details
              </span>
                    <div class="row cls-mobmaxhgt">
                        <div class="col-sm-6" *ngIf="userDetail != undefined">
                            <ng-container *ngFor="let item of userDetail[0] | keyvalue">
                                <span class="cls-w40">{{item?.key}} </span>
                                <span class="cls-w10">:</span>
                                <span class="cls-w50" *ngIf="item?.value !== null">{{item?.value}}</span>
                                <span class="cls-w50" *ngIf="item?.value === null">--</span>
                            </ng-container>
                        </div>
                    </div>
                    <div class="mt-3 text-right cls-footer">
                        <button type="button" class="btn cls-custom-btn cls-btn-primary mr-0 " (click)="closeModal(false)">
                  <span>{{'Close' | translate}}</span>
                </button>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>