/************************************************************************************
CSS Description : dashboard filter
Author          : Naveen.s
Created Date    : 25-July-2020
*************************************************************************************/
@import'../../../assets/scss/variable.scss';
.cls-filter-container{
    display: block;
    position: relative;
    margin-left: 20px;
    align-items: center;
    .customfilterrange{
        background: 94% 12px no-repeat url('../../../assets/images/icons/icon-3-dropdownarrow.svg') $WHITE;
        background-size: 4%;
    }
    .cls-disable{
        pointer-events: none;
        opacity: 0.5;
    }
    .cls-mbl-filter{
        display: flex;
        width: 100%;
        input,select{
            font-size: 12px;
            height: 32px !important;
            border-radius: 5px;
          }
          label{
              font-size: 14px;
              margin-bottom: 5px;
          }
        .cls-filter-icon{
            display: block !important;
            background:$WHITE;
            position: absolute;
            left: -21px;
            top: 25px;
            width: 26px;
            height: 47%;
            padding: 4px;
            border-radius: 5px;
            .cls-icon{
                width: 100%;
                height: 100%;
                background: url(../../../assets/images/filter.svg) no-repeat;
                display: inline-block;
            }
        }
        .cls-filter-btn{
            // height: 27px;
            background: $PRIMARYCOLOR;
            color: $WHITE;
            border-radius: 15px;
            vertical-align: -33px;
            padding: 6px 17px;
            font-size: 13px;
            &:hover{
                background: $BTNGRADIENT;
                box-shadow:0 7px 8px 0px $BDRLIGHT;
            }
        }
        .cls-reset-btn{
            color:$PRIMARYCOLOR;
            margin-left: 15px;
            vertical-align: -33px;
            cursor: pointer;
            font-size: 14px;
            &:hover{
                border-bottom: 1px solid $PRIMARYCOLOR;
            }
        }
    }
}
.cls-filter-close{
    display: block !important;
}
.cls-mbl-filter-icon{
    display: none;
}
// @media only screen and (max-width: 480px) {
//     .cls-filter-container{
//         margin-left: 25px;
//         margin-bottom: 10px !important;
//         .cls-filter-icon{
//             left: -8%;
//             top: 20%;
//             height: 32px;
//             width: 25px;
//         }
       
//         // .cls-res-timeperiod{
//         //     margin-bottom: 0;
//         // }
//     }
// }
.customrange{
    border: 1px solid #ccc;
    padding: 10px;
    color: #6c757d;
    width:100%;
}
@media only screen and (max-width: 480px) {
    .cls-mbl-background{
        position:fixed;
        top:0px;
        left:0px;
        right:0px;
        bottom:0px;
        background:$BLACK;
        opacity:.5;
        z-index:999;
      }
      .cls-mbl-filter-icon{
        display: block;
        .cls-mobfilbtn{
            background:$PRIMARYCOLOR  url(../../../assets/images/filterwhitecolor.svg) no-repeat 6px;
            padding: 7px 12px 7px 25px;
            color : $WHITE;
            margin-bottom: 10px;
        }
    }
    .cls-mbl-line{
        display: inline-block !important;
        height: 5px;
        width: 35px;
        background: #ccc;
        border-radius: 10px;
        position: absolute;
        left: 45%;
        top: 13px;
      }
    .cls-selectfilter{
        display: block !important;
        font: 17px 'ProximaSemiBold';
        letter-spacing: 1px;
        text-align: center;
    }
    .cls-filter-container {
        display: none;
        .cls-mbl-filter{
            display: unset;
            bottom: -16px;
            padding: 28px;
            left: 0 !important;
            background: $WHITE;
            top: unset !important;
            position: fixed !important;
            z-index: 1001 !important;
            width: 100% !important;
            border-radius: 30px 30px 5px 5px !important;
            animation: 0.4s slidein linear;
        }
       
        .cls-close-ani{
            animation: 0.4s slideout linear !important;
        }
        .cls-mobsubmit{
            text-align: right;
        }
        .form-group {
            padding-left: 0px;
                .cls-filter-btn,.cls-reset-btn{
                    vertical-align: unset;
                }
            }
        }
    }
    
@media (min-width: 481px) and (max-width: 766px){
    .cls-mbl-background{
        position:fixed;
        top:0px;
        left:0px;
        right:0px;
        bottom:0px;
        background:$BLACK;
        opacity:.5;
        z-index:999;
      }
      .cls-mbl-filter-icon{
        display: block;
        .cls-mobfilbtn{
            background:$PRIMARYCOLOR  url(../../../assets/images/filterwhitecolor.svg) no-repeat 6px;
            padding: 7px 12px 7px 25px;
            color : $WHITE;
            margin-bottom: 10px;
        }
    }
    .cls-mbl-line{
        display: inline-block !important;
        height: 5px;
        width: 35px;
        background: #ccc;
        border-radius: 10px;
        position: absolute;
        left: 45%;
        top: 13px;
      }
    .cls-selectfilter{
        display: block !important;
        font: 17px 'ProximaSemiBold';
        letter-spacing: 1px;
        text-align: center;
    }
    .cls-filter-container {
        display: none;
        .cls-mbl-filter{
            display: unset;
            bottom: -16px;
            padding: 28px;
            left: 0 !important;
            background: $WHITE;
            top: unset !important;
            position: fixed !important;
            z-index: 1000 !important;
            width: 100% !important;
            border-radius: 30px 30px 5px 5px !important;
            animation: 0.4s slidein linear;
        }
        .customfilterrange{
            background-size: 2%;
        }
        .cls-close-ani{
            animation: 0.4s slideout linear !important;
        }
        .cls-mobsubmit{
            text-align: right;
        }
        .form-group {
            padding-left: 0px;
            max-width: 100%;
                .cls-filter-btn,.cls-reset-btn{
                    vertical-align: unset;
                }
            }
        }
}
@media (min-width: 767px) and (max-width: 1024px){
    .cls-mbl-filter{
        .col-sm-2 {
            flex: 0 0 35%;
            max-width: 35%;   
        }
        .cls-filter-icon{
            display:none !important;
        }
    }
}