<!-- Desc : Change Password
Author : Naveen.s
Date : 14-Sept-2020 -->

<!-- change password container starts -->
<div class="cls-password-bar">
    <span class="cls-head-title">{{'Change Password' | translate}}</span>
    <form  [formGroup]="resetForm">
        <div class="row">
             <div  class="form-group col-sm-3">
                 <label  for="oldPassword">{{'Old Password' | translate}} <span class="mandatory">*</span></label>
                 <input  type="password" id="oldPassword" name="oldPassword" formControlName="oldPassword" placeholder="{{'Enter Old Password' | translate}}" autocomplete="off" class="cls-custom-input form-control"
                 [ngClass]="{'cls-border-error':(submitted && formValidation['oldPassword'].errors)}">
             </div>
        </div>
        <!-- dashed line starts -->
        <span class="cls-line mb-2"></span>
        <!-- dashed line ends -->
        <div class="row">
            <div  class="form-group col-sm-3">
                <label  for="newPassword">{{'New Password' | translate}} <span class="mandatory">*</span></label>
                <input  type="password" id="newPassword" name="newPassword" (keyup)="passwordStrength()" formControlName="newPassword" placeholder="{{'Enter New Password' | translate}}" autocomplete="off" class="cls-custom-input form-control"
                [ngClass]="{'cls-border-error':(submitted && formValidation['newPassword'].errors)}">
            </div>
            <div  class="form-group col-sm-4" *ngIf="resetForm.controls.newPassword.value !== ''">
                <span class="cls-status-bar">
                    <span class="cls-status {{className}}"></span>
                    <span class="cls-status-text" *ngIf="className === 'error'">{{'Weak Password' | translate}}</span>
                    <span class="cls-status-text" *ngIf="className === 'warning'">{{ 'Medium Password'  | translate}}</span>
                    <span class="cls-status-text" *ngIf="className === 'success'">{{'Strong Password' | translate}}</span>
                </span>
            </div>
       </div>
       <div class="row">
            <div  class="form-group col-sm-3">
                <label  for="confirmpassword">{{'Confirm Password' | translate}} <span class="mandatory">*</span></label>
                <input  type="password" [ngClass]="{'cls-bdrred' : error}" (keyup)="confirmPass()" formControlName="confirmPassword" id="confirmpassword" name="confirmpassword" placeholder="{{'Confirm Password' | translate}}" autocomplete="off" class="cls-custom-input form-control"
                [ngClass]="{'cls-border-error':(submitted && formValidation['confirmPassword'].errors)}">
            </div>
       </div>
       <div class="my-3">
            <button type="button" class="btn cls-btn-secondary cls-custom-btn" (click)="updatePassword('cancel')"><span>{{'Cancel' | translate}}</span></button>
            <button class="btn  cls-custom-btn cls-btn-primary" (click)="updatePassword('update')" type="button">{{'Update' | translate}}</button>
       </div>
    </form>
</div>
<!-- change password container ends -->
