@import './../../../../assets/scss/variable.scss';
.cls-password-bar{
    .cls-head-title{
        display: inline-block;
        font: 20px "ProximaSemiBold";
        margin: 10px 0 15px 0;  
    }
    .cls-bdrred{
        border: 1px solid $ERROR;
    }
    .cls-line{
        display: inline-block;
        height: 1px;
        border-bottom: 1px dashed $BDRLIGHT;
        width: 90%;
    }
}
.cls-status-bar{
    position: absolute;
    top: 62%;
    width: 100%;
    .cls-status{
        position: relative;
        display: inline-block;
        height: 6px;
        border: 1px solid #ccc;
        background: #ccc;
        width: 50%;
        border-radius: 5px;
        vertical-align: -30px;
        display: block;
        &::after{
            content: "";
            position: absolute;
            display: inline-block;
            height: 6px;
            border-radius: 5px;
            top: -1px;
            left: -1px;
            transition: width 0.8s;
        }
    }
    .error{
        &::after{
            background: red;
            width: 30%;
        }
    }
    .warning{
        &::after{
            background: orange;
            width: 70%;
        }
    }
    .success{
        &::after{
            background: green;
            width: 101%;
        }
    }
    .cls-status-text{
        vertical-align: -30px;
        font-size: 12px;
        display: block;
        // margin-left: 5px;
    }
}
@media (min-width: 481px) and (max-width: 766px){}
@media (min-width: 767px) and (max-width: 1024px){}
@media only screen and (max-width: 480px){
    .cls-status-bar{
        .cls-status,.cls-status-text{
            vertical-align: unset;
        }
    }
}